<p id="notice"><%= notice %></p>

<p>
  <strong>F software inst name:</strong>
  <%= @f_software_inst.f_software_inst_name %>
</p>

<%= link_to 'Edit', edit_f_software_inst_path(@f_software_inst) %> |
<%= link_to 'Back', f_software_insts_path %>
