<!-- app/views/shared/_navigation.html.erb -->

<nav class="navbar navbar-default" role="navigation">
	<div class="container">
		<div class="navbar-header">
			<ul class="nav">
				<a class="navbar-brand" href="/servers">Dashboard</a>
				<a class="navbar-brand" href="/servers">Projects</a>
				<a class="navbar-brand" href="/environments">Environments</a>
				<a class="navbar-brand" href="/servers">Servers</a>
				<a class="navbar-brand" href="/i_softwares">Softwares</a>
				<a class="navbar-brand" href="/servers">Administration</a>
			</ul>
		</div>
	</div>
</nav>




